/* Make sure the body fills the viewport */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-family: "Cormorant Garamond", serif;
}

/* The canvas will be positioned as a full-screen background */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Behind the content */
}
